{% extends 'base.html.twig' %}

{% block title %}Réalisations{% endblock %}

{% block body %}
    <h1>Détail de la peinture</h1>
    <p>Pour tout savoir sur elle</p>
    <section>
        <h1>{{ peinture.nom }}</h1>
        <img src="{{ vich_uploader_asset(peinture, 'imageFile') }}" alt="">
        <p>Largeur : {{ peinture.largeur }}</p>
        <p>Hauteur : {{ peinture.hauteur }}</p>
        {% if peinture.enVente %}
            <strong>L'oeuvre est en vente</strong>
            <strong>{{ peinture.prix }}</strong>
        {% endif %}        
        {% for categorie in peinture.categorie %}
            <p>{{ categorie.nom }}</p>
        {% endfor %}

    </section>
{% endblock %}