{% extends 'base.html.twig' %}

{% block title %}Réalisations{% endblock %}

{% block body %}
    <section>
        <h1>{{ peinture.nom }}</h1>
        <img src="{{ peinture.file }}" alt="">
        <p>Largeur : {{ peinture.largeur }}</p>
        <p>Hauteur : {{ peinture.hauteur }}</p>
        {% if peinture.enVente %}
            <strong>L'oeuvre est en vente</strong>
            <strong>{{ peinture.prix }}</strong>
        {% endif %}        
        <p>Categorie : {{ peinture.categorie | map(categorie => categorie.nom) | join(', ') }}</p>


    </section>
{% endblock %}